<div class="page-header">
  <h1 class="title">Article<h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong>Body:</strong></dt>
  <dd><%= @article.body %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), articles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_article_path(@article), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")), article_path(@article),
              :method => 'delete', 
              :data => { 
                  :confirm => t('.confirm', 
                  :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
