<div class="page-header">
  <h1 class="title">Article<h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong>Body:</strong></dt>
  <dd><%= @article.body %></dd>
</dl>

<%= link_to 'Back', articles_path, class: "btn btn-default"  %>
<%= link_to 'Edit', edit_article_path(@article) , class: "btn btn-default" %>
<%= link_to 'Delete', article_path(@article), :method => 'delete', :data => { confirm: 'Are you sure?' },
              class: 'btn btn-danger' %>
<%= link_to 'New', new_article_path, class: 'btn btn-primary' %>